@{
    ViewBag.Title = "Listado de asesores";
}
<h1 class="headerPage">Listado de asesores</h1>
<div ng-app="app" ng-controller="asesoresController" ng-init="listarAsesores(0)">
    <div class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-primary" value="Insertar" ng-click="insertarAsesor()" />
        </div>
    </div>
    <div class="tableResult">
        <div class="row headerTable">
            <div class="col-md-2 headerColumn">ID</div>
            <div class="col-md-2 headerColumn">Nombre</div>
            <div class="col-md-2 headerColumn">C&eacute;dula</div>
            <div class="col-md-2 headerColumn">C&oacute;digo</div>
            <div class="col-md-2 headerColumn">Tienda</div>
            <div class="col-md-2 headerColumn">&nbsp;</div>
        </div>
        <div class="row bodyTable" ng-repeat="asesor in asesores">
            <div class="col-md-2">{{asesor.AsesorId}}</div>
            <div class="col-md-2">{{asesor.Nombre}}</div>
            <div class="col-md-2">{{asesor.Cedula}}</div>
            <div class="col-md-2">{{asesor.Codigo}}</div>
            <div class="col-md-2">{{asesor.Tienda}}</div>
            <div class="col-md-2">
                <span class="fas fa-edit btn" aria-hidden="true" ng-click="editarAsesor(asesor)"></span>&nbsp;
                <span class="fas fa-ban btn" aria-hidden="true" ng-click="eliminarAsesor(asesor)"></span>&nbsp;
            </div>
        </div>
        <div class="row">
            <span class="fas fa-step-backward btn" aria-hidden="true" ng-click="listarAsesores(0)"></span>&nbsp;
            <span class="fas fa-backward btn" aria-hidden="true" ng-click="listarAsesores(paginaActual - 1)"></span>&nbsp;
            <span>Página {{paginaActual + 1}} de {{ultimaPagina + 1}}</span>&nbsp;
            <span class="fas fa-forward btn" aria-hidden="true" ng-click="listarAsesores(paginaActual + 1)"></span>&nbsp;
            <span class="fas fa-step-forward btn" aria-hidden="true" ng-click="listarAsesores(ultimaPagina)"></span>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editarAsesorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header headerTable">
                    <h5 class="modal-title headerColumn" id="editarAsesorModalLabel">Editar asesor</h5>
                </div>
                <form name="formEditarAsesor" novalidate>
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-md-6 col-form-label">Nombre: </div>
                            <div class="col-md-6"><input type="text" ng-model="asesorActual.Nombre" ng-maxlength="200" ng-minlength="1" class="form-control" required placeholder="Nombre asesor" name="nombre" /></div>
                            <p ng-show="formEditarAsesor.nombre.$invalid && !formEditarAsesor.nombre.$pristine" class="alert-danger">Debe ingresar un nombre correcto</p>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-form-label">C&eacute;dula: </div>
                            <div class="col-md-6"><input type="text" ng-model="asesorActual.Cedula" class="form-control" ng-maxlength="10" ng-minlength="6" required placeholder="Cédula asesor" ng-pattern="/^\d+$/" name="cedula" /></div>
                            <p ng-show="formEditarAsesor.cedula.$invalid && !formEditarAsesor.cedula.$pristine" class="alert-danger">Debe ingresar una c&eacute;dula correcta</p>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-form-label">C&oacute;digo: </div>
                            <div class="col-md-6"><input type="text" ng-model="asesorActual.Codigo" class="form-control" ng-maxlength="50" ng-minlength="2" required placeholder="Código asesor" name="codigo" /></div>
                            <p ng-show="formEditarAsesor.codigo.$invalid && !formEditarAsesor.codigo.$pristine" class="alert-danger">Debe ingresar un c&oacute;digo correcto</p>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-form-label">Tienda: </div>
                            <div class="col-md-6"><input type="text" ng-model="asesorActual.Tienda" class="form-control" ng-maxlength="10" ng-minlength="1" required placeholder="Tienda" name="tienda" /></div>
                            <p ng-show="formEditarAsesor.tienda.$invalid && !formEditarAsesor.tienda.$pristine" class="alert-danger">Debe ingresar una tienda correcta</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarFormulario">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="guardarAsesor(formEditarAsesor.$valid)" ng-disabled="formEditarAsesor.$invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>