body {
    padding: 10px;
    font-family: sans-serif, Arial;
    font-size: 14px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #57595b;
}

    .navbar ul li a {
        color: #FFF;
    }

.headerTable {
    background-color: #30b131;
    padding: 3px;
    margin-top: 10px;
}

.headerColumn {
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.tableResult .bodyTable {
    border-bottom: 1px solid #c8c8c8
}

.headerPage {
    color: #666;
    padding: 10px;
    text-align: center;
}